<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="/img/logo/logo.png" alt="Logo" class="logo" />
        Alpinisme Andorra
      </div>
      <div class="footer-links">
        <a href="#">Inici</a>
        <a href="#">Contacte</a>
        <a href="#">Avis legal</a>
      </div>
      <div class="footer-social">
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="footer-copy">
        &copy; {{ currentYear }} Alpinisme Andorra. Tots els drets reservats.
      </div>
    </div>
  </footer>